@media (max-width: 1500px) {
  .reg-home {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .reg-home {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .home-left {
    width: 50% !important;
  }
  .home-right {
    width: 50% !important;
  }
  .reg-home {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .home-right {
    width: 100% !important;
    height: auto !important;
  }
  .form-login-home {
    width: 90%;
    margin: 25% 5% 0px 5%;
  }
  .bg-blue-login {
    background: rgba(81, 139, 164, 0.2);
  }
  .card-header {
    background: rgba(81, 139, 164, 0.9);
  }
  .home-left {
    width: 100% !important;
    height: auto !important;
  }
  .log-home {
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: auto !important;
    position: relative;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .copy-home {
    position: relative;
  }
  .row-home {
    height: auto !important;
  }
  .reg-home {
    width: 90%;
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: auto !important;
    position: relative;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
