@media (max-width: 1500px) {
  .reg-home {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .reg-home {
    width: 50%;
  }
}
@media (max-width: 1050px) {
  .footer-register,
  .footer-register .text-footer-reg {
    width: 100%;
  }
  .footer-register ul {
    margin: 0px auto;
    margin-bottom: 50px;
    width: max-content;
    text-align: center;
    float: none;
  }
}
@media (max-width: 800px) {
  .home-left {
    width: 50% !important;
  }
  .home-right {
    width: 50% !important;
  }
  .reg-home {
    width: 70%;
  }
  .bb1 {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
    font-weight: bold;
  }
  .bb1:last-child {
    border-bottom: none;
  }
  .b2 {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    padding: 15px 0px;
  }
  .info-col {
    display: none;
  }
  .info-prov {
    padding: 0px !important;
  }
  .active-icon,
  .off-icon,
  .edit-icon {
    margin-right: 25px;
  }
}
@media (max-width: 620px) {
  .footer-register ul {
    width: 100%;
  }
  .footer-register .text-footer-reg {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .footer-register ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .footer-register ul li a {
    width: 100%;
    text-align: center;
  }
  .home-right {
    width: 100% !important;
    height: auto !important;
  }
  .form-login-home {
    width: 90%;
    margin: 25% 5% 0px 5%;
  }
  .bg-blue-login {
    background: rgba(81, 139, 164, 0.2);
  }
  .card-header {
    background: rgba(81, 139, 164, 0.9);
  }
  .home-left {
    width: 100% !important;
    height: auto !important;
  }
  .log-home {
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: auto !important;
    position: relative;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .copy-home {
    position: relative;
  }
  .row-home {
    height: auto !important;
  }
  .reg-home {
    width: 90%;
    left: 0px;
    top: 0px;
    width: 100% !important;
    height: auto !important;
    position: relative;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  footer {
    overflow: hidden;
    padding: 10px 0px;
  }
  footer ul li {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 0px;
    border-right: none;
    text-align: center;
  }
  .logo-nav {
    margin-left: 10px;
    width: max-content;
  }
  .logo-nav a {
    height: 30px;
    width: 30px;
  }
  .user-nav {
    height: 30px;
  }
  .user-nav a {
    height: 30px;
    width: 30px;
  }
  .user-nav span {
    padding: 4px 5px;
  }
  .menu-nav {
    height: 30px;
    padding: 5px 20px;
    top: 15px;
  }
}
@media (max-width: 370px) {
  .user-nav {
    height: 30px;
    margin: 0px;
    padding-left: 10px;
    float: left;
  }
  nav ul {
    overflow: hidden;
  }
}
