/* ==== RESETS ==== */
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  word-wrap: break-word !important;
}
body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  width: 100%;
}
/* ==== MIXINS ==== */
.bg-trans {
  background: transparent;
}
.border-bot {
  border-bottom: 1px solid #fff;
}
.bg-blue-login {
  background: rgba(81, 139, 164, 0.7);
}
.text-white {
  color: #fff;
}
.button-blue {
  display: block;
  width: 100% !important;
  text-align: center;
  padding: 15px 0px !important;
  font-size: 14px;
  margin-top: 20px;
  background: #005dab;
  color: #fff;
  border: none;
}
.button-blue:hover {
  opacity: .8;
}
.b1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 0px;
}
.b2 {
  border-top: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
  border-left: 10px solid;
  border-radius: 0px 4px 4px 0px;
}
.b3 {
  border-bottom: 1px solid #ccc;
}
.mt1 {
  margin-top: 15px !important;
}
.mt2 {
  margin-top: 30px !important;
}
.m1 {
  margin-bottom: 15px !important;
}
.m2 {
  margin-bottom: 30px !important;
}
.s1 {
  box-shadow: 1px 1px 5px #ccc;
}
.s2 {
  box-shadow: 0px 0px  5px #bbb;
  border-radius: 5px;
}
.p1 {
  padding: 15px 0px;
}

.p2 {
  padding: 30px;
}
/* ==== HOME ==== */
.title-lh {
  width: 100%;
  font-size: .9em;
  margin: 0px;
  font-weight: normal;
}
.logo-login {
  width: 100%;
  height: 70px;
  background: url(../img/logo.png) center center no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}
.form-login-home {
  width: 90%;
  margin: 40% 5% 0px 5%;
}
.b-login {
  display: block;
  width: 100% !important;
  text-align: center;
  padding: 15px 0px !important;
  font-size: 14px;
  margin-top: 20px;
  background: #64b84d;
}
.b-login:hover {
  opacity: .8;
}
.b-proveedores {
  display: block;
  width: 100% !important;
  text-align: center;
  padding: 15px 0px !important;
  font-size: 14px;
  margin-top: 20px;
  background: #e67b21;
}
.b-proveedores:hover {
  opacity: .8;
}
.form-login-home input:active,
.form-login-home input:focus {
  background: transparent;
  outline: 0px;
}
.copy-home {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.home-login {
  background: url(../img/bg-home.jpg) center center no-repeat;
  background-size: cover;
}
.bg-blue-home {
  background: url(../img/bg2-home.png) center center no-repeat;
  background-size: 50%;
}
.mx-login {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background: url(../img/angel.png) center center no-repeat;
  background-size: contain;
}
.but-login-home {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 25px;
}
.log-home {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #518ba4;
}
.home-left {
  position: relative;
}
.home-right ul {
  width: 100%;
  padding: 5%;
}
.home-right ul li {
  width: 100%;
  padding: 10px 0px;
  font-size: 14px;
}
.home-right ul li a {
  width: 100%;
  color: #fff;
  padding: 10px 0px;
}
.home-right ul li a:hover {
  color: #ddd;
}
.home-right ul h3 {
  width: 100%;
  padding: 10px 0px;
  font-weight: normal;
  font-size: 22px;
}
.button-login {
  background: #005dab;
}
.button-login:hover {
  opacity: .8;
}
/* ==== REGISTER ==== */
.register-form {
  width: 100%;
  height: auto;
  color: #005dab;
}
::placeholder {
  font-style: italic;
  color: rgba(81, 139, 164, 0.7);
  font-weight: lighter;
}
:-ms-input-placeholder {
  font-style: italic;
  color: rgba(81, 139, 164, 0.7);
  font-weight: lighter;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(81, 139, 164, 0.7);
  font-weight: lighter;
}
::-moz-placeholder {
  font-style: italic;
  color: rgba(81, 139, 164, 0.7);
  font-weight: lighter;
}
.register-form input[type="text"],
.register-form input[type="search"],
.register-form input[type="email"],
.register-form input[type="tel"],
.register-form input[type="url"],
.register-form textarea,
.register-form select {
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
  border: 1px solid #005dab;
  padding: 5px;
  color: #005dab;
  border-radius: 3px;
  margin: 5px auto;
}
.reg-home {
  position: absolute;
  width: 30%;
  height: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.title-lr {
  color: #005dab;
  width: 100%;
  font-size: .9em;
  margin: 0px;
  font-weight: normal;
}
.border-botr {
  border-bottom: 1px solid #005dab;
}
.register-form input[type="checkbox"],
.register-form input[type="radio"] {
  width: max-content;
}
.reg-home .card-header {
  margin-bottom: 20px;
}
/* ==== HEADER ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
nav ul {
  list-style: none;
  text-align: right;
  background: #005a81;
  padding: 20px 0px;
}
.logo-nav {
  float: left;
  margin-left: 20px;
  width: max-content;
}
.logo-nav a {
  display: block;
  height: 50px;
  width: 70px;
  background: url(../img/logo-alsea.png) center center no-repeat;
  background-size: cover;
}
.user-nav {
  float: none;
  margin: 0px auto !important;
  text-align: center;
  width: max-content;
  overflow: hidden;
  height: 50px;
}
/*.user-nav a {
  display: block;
  height: 50px;
  width: 50px;
  background: url(http://lorempixel.com/50/50/) center center no-repeat, #ccc;
  background-size: contain;
  border-radius: 50%;
  float: left;
}*/
.user-nav span {
  display: block;
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
  padding: 15px 100px 15px 10px;
  float: left;
}
.menu-nav {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 50px;
  padding: 15px 20px;
  width: max-content;
  float: right;
  position: absolute;
  right: 1%;
  top: 15px;
}
.menu-nav a {
  color: #fff;
}
.menu-lateral{
    top: 0;
    right: 0;
    position: fixed;
    background: #212121;
    width: 250px;
    height: 100%;
  overflow-y: scroll;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  display: none;
  color: #fff;
  z-index: 9999999;
}

.menu-lateral a{
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    color: #fff;
}

.menu-lateral .close {
    text-align: right;
    font-size: 20px;
  font-weight: lighter;
}

.menu-lateral .menu-item, .menu-lateral .sub-items li a {
    transition: all 1s ease;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
}

.menu-lateral .menu-item:hover{
    box-shadow: inset 900px 0px 0px #005a81;
}

.menu-lateral .sub-items li a:hover{
    box-shadow: inset 900px 0px 0px #005a81;
}

.menu-lateral:target{
    display: block;
}

.menu-lateral:target .sub-items {
    background: transparent;
}

/* Acordeon */
.items > li > a {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.items > li:first-child {
  margin-top: 50px;
}

/*.items > li > a::after {
    position: absolute;
    right: 30px;
    margin-top: 2px;
    font-family: "FontAwesome"
}

.items > li > a::after {
    right: 30px;
    content: "\f061";
}
.items > li > a.expanded::after {
    content: "\f063";
}*/

.itemHover {
    color: #fff;
    font-weight: 600;
    transition: background-color .4s ease-in-out;
}

.sub-items a {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
  padding-left: 15%;
  background: transparent !important;
}

.sub-items .current {
    position: relative;
  color: #fff;
}

.sub-items > li:hover > a {
    color: #fff;
    transition: color 0.4s ease-in-out;
}

.sub-items li:last-child {
  border-bottom: none;
}

.sub-items {
    display: none;
}
/*.nav {
  list-style: none;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.nav li {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.nav li a:hover {
  transition: color 0.4s ease-in-out;
  box-shadow: inset 900px 0px 0px #005a81;
}
.nav > li > a {
  display: block;
  padding: 7px;
  overflow: hidden;
  /*..*/
  transition: all 1s ease;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
}
.drop > li > a {
  padding: 7px 25px;
  transition: all 1s ease;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
}
.drop {
  list-style: none;
  display: block;
  max-height: 0;
  transition: max-height 0.3s;
}
.arrow {
  position: relative;
  top: 5px;
  float: right;
  display: inline-block;
  border-right: 0.14em solid;
  border-bottom: 0.14em solid;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  margin-right: 0.5em;
  transition: ease-in 0.2s;
}
.active .drop {
  max-height: 250px;
  transition: max-height 1s ease-out;
}
.actived {
  transform: rotate(45deg) !important;
}*/


/* ==== PROVIDER ==== */
.active-icon,
.off-icon,
.edit-icon {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  text-align: center !important;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: block;
  color: #fff;
}
.active-icon:hover,
.off-icon:hover,
.edit-icon:hover {
  color: #fff;
}
.active-icon {
  background: #007f00;
}
.off-icon {
  background: #ff0002;
}
.edit-icon {
  background: #3379b7;
}
.admin-info a {
  width: 40px;
  height: 40px;
  color: #666 !important;
  margin-right: 15px;
}
.admin-info {
  width: 100%;
  height: 40px;
  text-align: left;
  color: #666 !important;
  font-weight: lighter;
  font-size: 24px;
}
.b-cancel {
  background: #ff0000;
  color: #fff;
  float: right !important;
  font-weight: lighter;
  font-size: 14px;
}
.b-cancel:hover {
  background: #c00;
}
.b-search {
  background: #5ac0df;
  color: #fff;
  float: right !important;
  font-weight: lighter;
  font-size: 14px;
}
.b-search:hover {
  background: #29aed6;
}
/* ==== FOOTER ==== */
footer {
  background: #ccc;
  border-bottom: 10px solid #777;
  width: 100%;
  height: auto;
  padding: 20px 0px 50px 0px;
}
footer ul {
  width: 100%;
}
footer ul li {
  max-width: max-content;
  padding: 0px 10px;
  border-right: 1px solid #444;
  float: left;
  text-align: left;
  font-size: 14px;
  color: #777;
}
footer ul li:last-child {
  border-right: none; 
}
footer ul li a {
  color: #777;
}
footer ul li a:hover {
  color: #444;
}


/* ==== NEW PROVIDER ==== */

.title-new-prov {
  font-size: 25px;
  font-weight: lighter;
  padding: 15px 0px;
  color: #777;
}

.color-inputs-icon {
  background: #5bc0de;
  color: #fff;
}

.new-prov-form label{
  color: #777;
  font-size: 15px;
}


.language {
  width: 100%;
  text-align: right;
  padding: 1% 3% 0 0;
  color: #fff;
}

.language a {
  color: #fff;
  padding: 0px 5px;
}

.language a:hover {
  color: #e67b21;
}