/* === VARIABLES ==== */
/* ==== FONTS ==== */
/* ==== RESETS ==== */
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
/* ==== MIXINS ==== */
.bg-trans {
  background: transparent;
}
.border-bot {
  border-bottom: 1px solid #fff;
}
.bg-blue-login {
  background: rgba(81, 139, 164, 0.7);
}
.text-white {
  color: #fff;
}
/* ==== HOME ==== */
.title-lh {
  width: 100%;
  font-size: .9em;
  margin: 0px;
  font-weight: normal;
}
.logo-login {
  width: 100%;
  height: 70px;
  background: url(../img/logo.png) center center no-repeat;
  background-size: contain;
  margin-bottom: 40px;
}
.form-login-home {
  width: 90%;
  margin: 40% 5% 0px 5%;
}
.b-login {
  display: block;
  width: 100% !important;
  text-align: center;
  padding: 15px 0px !important;
  font-size: 14px;
  margin-top: 20px;
  background: #64b84d;
}
.b-login:hover {
  opacity: .8;
}
.b-proveedores {
  display: block;
  width: 100% !important;
  text-align: center;
  padding: 15px 0px !important;
  font-size: 14px;
  margin-top: 20px;
  background: #e67b21;
}
.b-proveedores:hover {
  opacity: .8;
}
.form-login-home input:active,
.form-login-home input:focus {
  background: transparent;
  outline: 0px;
}
.copy-home {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.home-login {
  background: url(../img/bg-home.jpg) center center no-repeat;
  background-size: cover;
}
.bg-blue-home {
  background: url(../img/bg2-home.png) center center no-repeat;
  background-size: 50%;
}
.mx-login {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background: url(../img/angel.png) center center no-repeat;
  background-size: contain;
}
.but-login-home {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 25px;
}
.log-home {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #518ba4;
}
.home-left {
  position: relative;
}
.home-right ul {
  width: 100%;
  padding: 5%;
}
.home-right ul li {
  width: 100%;
  padding: 10px 0px;
  font-size: 14px;
}
.home-right ul li a {
  width: 100%;
  color: #fff;
  padding: 10px 0px;
}
.home-right ul li a:hover {
  color: #ddd;
}
.home-right ul h3 {
  width: 100%;
  padding: 10px 0px;
  font-weight: normal;
  font-size: 22px;
}
.button-login {
  background: #005dab;
}
.button-login:hover {
  opacity: .8;
}
